package {{ organization_domain }}.{{ mod_id }};

public final class {{ main_class }} {
    public static final String MOD_ID = "{{ mod_id }}";

    public static void init() {
        // Write common init code here.
    }
}
