{
  "required": true,
  "package": "{{ organization_domain }}.{{ mod_id }}.mixin",
  "compatibilityLevel": "JAVA_21",
  "minVersion": "0.8",
  "client": [
  ],
  "mixins": [
  ],
  "injectors": {
    "defaultRequire": 1
  }
}
