{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            { "type": "feat", "section": "✨ Features" },
            { "type": "fix", "section": "🐛 Bug Fixes" },
            { "type": "docs", "section": "📚 Documentation" },
            { "type": "style", "section": "💄 Style Improvements" },
            { "type": "ref", "section": "♻️ Code Refactoring" },
            { "type": "perf", "section": "⚡ Performance Improvements" },
            { "type": "test", "section": "✅ Tests" },
            { "type": "build", "section": "📦 Build System" },
            { "type": "ci", "section": "👷 CI/CD" },
            { "type": "chore", "section": "🔧 Miscellaneous Changes" },
            { "type": "imp", "section": "🚀 Improvements" }
          ]
        },
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./gradlew :fabric:build -Pmod_version=${nextRelease.version} && ./gradlew :neoforge:build -Pmod_version=${nextRelease.version}"
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "semantic-release-minecraft",
      {
        "game_versions": "1.21.1",
        "mod_loaders": "${ loader }",
        "display_name": "[${ name } 1.21.1] ${ nextRelease.version }",
        "glob": "${ loader }/build/libs/{{ mod_id }}-${ loader }-${ nextRelease.version }.jar",
        "strategies": [
          {
            "loader": "fabric",
            "name": "Fabric"
          },
          {
            "loader": "neoforge",
            "name": "NeoForge"
          }
        ],
        "curseforge": {
          "project_id": "",   // Add your CurseForge project ID here
          "java_versions": 21,
          "environments": [
            {%- for env in environments if env -%}
            "{{ env }}"{% if not loop.last %}, {% endif %}
            {%- endfor -%}
          ]
        },
        "modrinth": {
          "project_id": "",   // Add your Modrinth project ID here
          "version_number": "${ nextRelease.version }+${ loader }"
        }
      }
    ]
  ],
  "preset": "conventionalcommits",
  "releaseRules": [
    {
      "type": "ref",
      "release": "patch"
    },
    {
      "type": "style",
      "release": "patch"
    },
    {
      "type": "imp",
      "release": "patch"
    }
  ]
}